:root{
    --var-color1:#DC87FF;
    --var-color2:#AB7BE8;
    --var-color3:#A695FF;
    --var-color4:#7B86E8;
    --var-color5:#87B3FF;
}

.header{
    background: var(--var-color3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img{
    height: 30px;
    padding: 0.5rem;
}

.button__contenedor{
    height: 100%;
    margin-right: 1rem;
}

.button{
    font-size: 18px;
    background-color: var(--var-color1);
    color: black;
    border-radius: 10px;
    height: 70%;
    width: 100%;
    text-align: center;    
}